<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.schedular.ms.dao.IReserveRepository">
	<select id="getMaxReserveId" resultType="int">
		SELECT NVL(MAX(reserve_id), 0) FROM reserve
	</select>
	
	<select id="getReserveId" parameterType="com.study.schedular.ms.model.Reserve" resultType="string">
		SELECT reserve_id FROM reserve 
		WHERE 
			start_time=#{startTime}
			AND	end_time=#{endTime}
			AND start_date=#{startDate}
			AND end_date=#{endDate}
			AND captain_phone=#{captainPhone}
		 
	</select>

	<insert id="insertReserve" parameterType="com.study.schedular.ms.model.Reserve">
		INSERT INTO reserve (
			reserve_id, 
			start_time, end_time, 
			start_date, end_date, 
			content, 
			study_id, 
			captain_name, captain_phone
		)
		VALUES (
			#{reserveId}, 
			#{startTime}, #{endTime}, 
			#{startDate}, #{endDate},
			#{content},
			#{studyId}, 
			#{captainName}, #{captainPhone}
		)
	</insert>
	
	<!-- study id 조회 -->
	<select id="getStudyId" parameterType="int" resultType="int">
		SELECT study_id FROM reserve
		WHERE reserve_id=#{reserveId}	
	</select>
	
	<!-- 예약 업데이트 -->
	<update id="updateReserve" parameterType="com.study.schedular.ms.model.Reserve">
		UPDATE reserve 
		SET end_time=#{endTime}, 
			start_time=#{startTime}, 
			start_date=#{startDate}, 
			end_date=#{endDate}, 
			content=#{content}, 
			study_id=#{studyId}
		WHERE reserve_id=#{reserveId}	
	</update>
	
	<!-- 예약 삭제 -->
	<delete id="deleteReserve">
		DELETE reserve WHERE reserve_id=#{param1}
	</delete>
</mapper>