<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>MyHome</title>
<style>
	table td {
		border: 1px solid black;
		border-collapse: collapse;
		padding: 5px;
		text-align: center;
	}
</style>
</head>
<body>
	<h1 th:text="${message}">기본 메시지</h1>
	<h1 th:text="${count}">사원 수</h1>
	<!-- <h2 th:text="${emp}"></h2> -->
	
	<!-- <span th:text="${emp.EMPLOYEE_ID}">사원번호</span>
	<span th:text="${emp.FIRST_NAME}">이름</span> -->
	
	<!-- <span th:text="${emp}">사원정보</span> -->
	
	<!-- <div th:object="${emp}">
		<span th:text="*{EMPLOYEE_ID}">사원번호</span>
		<span th:text="*{FIRST_NAME}">이름</span>
		<span th:text="*{LAST_NAME}">성</span>
		<span th:text="*{EMAIL}">이메일</span>
	</div> -->
	
	<!-- <span th:text="${empList}">사원들정보</span> -->
	<table>
		<th>사원번호</th>
		<th>이름</th>
		<th>성</th>
		<th>이메일</th>
		<th>전화번호</th>
		<th>입사일</th>
		<th>직무</th>
		<th>급여</th>
		<th>보너스</th>
		<th>매니저</th>
		<th>부서</th>
		<tr th:each="emp : ${empList}">
			<td th:text="${emp.EMPLOYEE_ID}">empId</td>
			<td th:text="${emp.FIRST_NAME}">이름</td>
			<td th:text="${emp.LAST_NAME}">성</td>
			<td th:text="${emp.EMAIL}">email</td>
			<td th:text="${emp.PHONE_NUMBER}">전화번호</td>
			<td th:text="${emp.HIRE_DATE}">입사일</td>
			<td th:text="${emp.JOB_ID}">jobId</td>
			<td th:text="${emp.SALARY}">급여</td>
			
			<td> </td>
			<!-- <td th:if="${emp.COMMISSION_PCT}==null">-</td>
			<td th:unless="${emp.COMMISSION_PCT}">보너스</td> -->
			<!-- <td th:text="${emp.COMMISSION_PCT}">보너스</td> -->
			
			<td> </td>
			<!-- <td th:if="${emp.MANAGER_ID}==null">-</td>
			<td th:unless="${emp.MANAGER_ID}">매니저</td> -->
			<!-- <td th:text="${emp.MANAGER_ID}">매니저</td> -->
			
			<td th:text="${emp.DEPARTMENT_ID}">부서</td>
		</tr>
	</table>
</body>
</html>